name: Weather Pipeline

on:
  schedule:
    - cron: "0 0,6,12,18 * * *"   
  workflow_dispatch:             # manual trigger

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pipeline
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
          SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
          SNOWFLAKE_SCHEMA: ${{ secrets.SNOWFLAKE_SCHEMA }}
        run: |
          python src/run_pipeline.py


# SNOWFLAKE_USER='SRIMURARI'
# SNOWFLAKE_PASSWORD='Captainamerica@14'
# SNOWFLAKE_ACCOUNT='YBKJUZT-BEC44522'
# SNOWFLAKE_WAREHOUSE='WEATHER_WH'
# SNOWFLAKE_DATABASE='WEATHER_DB'
# SNOWFLAKE_RAW_SCHEMA='RAW'
# SNOWFLAKE_ROLE='ACCOUNTADMIN'